[run]
source = clfitness
branch = True
relative_files = True
omit =
    .*
    */migrations/*
    */__init__.py
    clfitness/manage.py
    clfitness/clfitness/asgi.py
    clfitness/clfitness/settings.py
    clfitness/clfitness/wsgi.py
    */urls.py
    clfitness/theme/*

[report]
exclude_also =
    pragma: no cover
    def __str__
    import