{% extends "registration/registration_base.html" %}

{% block content %}
    <div class="mb-5">
        <p class="text-lg text-black">
            Forgotten your password? Enter your email address below, and we’ll email instructions for setting a new one.
        </p>
    </div>
    <form method="post" action="{% url 'login' %}" class="font-sans">
        {% csrf_token %}
        <div class="flex flex-col gap-y-5">
        {% for field in form %}
            <div class="flex">
                <div class="inline-flex items-center px-3 text-sm text-neutral-500 bg-neutral-800 border border-e-0 border-neutral-700 rounded-s-md">
                    {% if field.name == 'email' %}
                        <i class="fa-solid fa-envelope"></i>
                    {% endif %}
                </div>
                <input type="{{ field.widget_type }}" placeholder="{{ field.label }}"
                       id="{{ field.id_for_label }}" name="{{ field.html_name }}"
                       class="rounded-none rounded-e-lg bg-black border border-neutral-700 text-neutral-100
                        focus:ring-primary ring-opacity-25 focus:border-primary focus:border-opacity-25 w-full text-sm p-2.5">
            </div>
            {{ field.errors }}
        {% endfor %}
        </div>

        {% for error in form.non_field_errors %}
            {{ error|escape }}
        {% endfor %}

        <div class="w-full text-center mt-10">
            <button type="submit" class="w-full text-white bg-black font-bold rounded-lg px-5 py-2.5 text-center
            hover:bg-neutral-700 focus:ring focus:ring-primary focus:ring-opacity-25 duration-200">
                Change password
            </button>
        </div>
    </form>
{% endblock content %}