{% extends "base.html" %}

{% load static %}

{% block body %}
<main class="w-full h-screen grow flex justify-center items-center bg-primary">
    <section class="max-w-96 w-full h-full p-5 flex flex-col justify-center relative">
        <div class="background-image fixed left-0 bottom-0 h-1/2 sm:h-screen w-auto z-0">
            <img class="object-cover h-full" src="{% static 'butterfly-to-flowers.png' %}"
                 alt="">
        </div>

        <div class="background-image fixed right-0 -top-5 h-1/2 sm:h-screen w-auto z-0 sm:block">
            <img class="object-cover h-full" src="{% static 'flowers.png' %}" alt="">
        </div>

        <div class="w-full flex justify-center h-32 mb-12 z-10">
            <img class="brightness-0 object-contain" src="{% static 'logo_white.png' %}" alt="Chloe Leanne Fitness">
        </div>

        <div class="z-10">
            {% block content %}
            {% endblock content %}
        </div>
    </section>
    <script>
        $(document).on("mousemove", function(e){
            var move_x = ((e.pageX/window.innerWidth)*10).toString()
            var move_y = ((e.pageY/window.innerHeight)*10).toString()
            $('.background-image').css('transform', 'translate(' + move_x + 'px,' + move_y + 'px)')
        })
    </script>
</main>
{% endblock body %}